In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Gestion de archivos 锔
from pathlib import Path
from tkinter import filedialog
# Coneccion base de datos
from sqlalchemy import create_engine
import cx_Oracle

### Coneccion base de datos Oracle

In [7]:
ruta = Path(filedialog.askdirectory())
ruta

WindowsPath('G:/.shortcut-targets-by-id/1buUUJ2naBFTn-E10CXNd8elJ6YQOlWCR/00_BASES_COMPENSACION_2024/Compensaci贸n_052024')

In [10]:
archivos = [archivo for archivo in ruta.iterdir() if archivo.is_file() and archivo.suffix == '.txt']
archivos

[WindowsPath('G:/.shortcut-targets-by-id/1buUUJ2naBFTn-E10CXNd8elJ6YQOlWCR/00_BASES_COMPENSACION_2024/Compensaci贸n_052024/AC4023_5_2024.txt'),
 WindowsPath('G:/.shortcut-targets-by-id/1buUUJ2naBFTn-E10CXNd8elJ6YQOlWCR/00_BASES_COMPENSACION_2024/Compensaci贸n_052024/CORRECCION_BEN_MAYO_2024.txt'),
 WindowsPath('G:/.shortcut-targets-by-id/1buUUJ2naBFTn-E10CXNd8elJ6YQOlWCR/00_BASES_COMPENSACION_2024/Compensaci贸n_052024/CORRECCION_COT_MAYO_2024.txt'),
 WindowsPath('G:/.shortcut-targets-by-id/1buUUJ2naBFTn-E10CXNd8elJ6YQOlWCR/00_BASES_COMPENSACION_2024/Compensaci贸n_052024/AB4023_5_2024.txt'),
 WindowsPath('G:/.shortcut-targets-by-id/1buUUJ2naBFTn-E10CXNd8elJ6YQOlWCR/00_BASES_COMPENSACION_2024/Compensaci贸n_052024/EPSS05LIQUIDACION01052024.txt'),
 WindowsPath('G:/.shortcut-targets-by-id/1buUUJ2naBFTn-E10CXNd8elJ6YQOlWCR/00_BASES_COMPENSACION_2024/Compensaci贸n_052024/EPSS05RESTITUCION01052024.txt')]

In [12]:
beneficiario = ['CORRECCION_BEN', 'AB4023']
cotizante = ['CORRECCION_COT' , 'AC4023']
liquidado = ['EPSS05RESTITUCION', 'EPSS05LIQUIDACION']

## Liquidacion

In [18]:
columnas_liquidados = ['SERIAL_BDUA',
 'TIPO_DOC',
 'NUM_DOC',
 'PRIMER_APELLIDO',
 'SEGUNDO_APELLIDO',
 'PRIMER_NOMBRE',
 'SEGUNDO_NOMBRE',
 'FECHA_NACIMIENTO',
 'GENERO',
 'FECHA_AFILIACION',
 'EPSS',
 'DEPARTAMENTO',
 'MUNICIPIO',
 'TIPO_SUBSIDIO',
 'PERIODO',
 'DIAS',
 'VALOR_UPC',
 'FECHA_PROCESO',
 'ADD_MES_FECHA_NACIMIENTO',
 'EDAD_AFILIADO',
 'GRUPO_ETAREO',
 'ZONA',
 'CENTRO_COSTO']

In [20]:
df_liquidado = []
for archivo in archivos:
    if liquidado[0] in archivo.name or liquidado[1] in archivo.name:
        df = pd.read_csv(archivo, sep=',', dtype='str', encoding='latin1', usecols=columnas_liquidados)
        df_liquidado.append(df)
df_liquidados = pd.concat(df_liquidado)
df_liquidados.head()

,SERIAL_BDUA,TIPO_DOC,NUM_DOC,PRIMER_APELLIDO,SEGUNDO_APELLIDO,PRIMER_NOMBRE,SEGUNDO_NOMBRE,FECHA_NACIMIENTO,GENERO,FECHA_AFILIACION,...,TIPO_SUBSIDIO,PERIODO,DIAS,VALOR_UPC,FECHA_PROCESO,ADD_MES_FECHA_NACIMIENTO,EDAD_AFILIADO,GRUPO_ETAREO,ZONA,CENTRO_COSTO
0,100000416,CC,1006362446,PEREA,PERLAZA,JAIRO,ANDRES,24/03/1997,M,01/02/2024,...,ST,01/05/2024,30,77220.00,01/05/2024,23/04/1997,27,6,GRANDES CIUDADES,1
1,100000679,CC,1107507393,ROJAS,REVELO,TANNIA,YARITZA,08/02/1997,F,02/03/2020,...,ST,01/05/2024,30,122227.80,01/05/2024,07/03/1997,27,7,GRANDES CIUDADES,8
2,100001099,TI,1112153832,JARAMILLO,CERQUERA,CRISTIAN,CAMILO,05/03/2009,M,06/09/2022,...,ST,01/05/2024,30,40267.80,01/05/2024,04/04/2009,15,4,NORMAL,56
3,100001246,CC,11637284,CAICEDO,CAICEDO,LUIS,INOCENSIO,01/02/1972,M,10/08/2021,...,ST,01/05/2024,30,151367.70,01/05/2024,29/02/1972,52,9,ESPECIAL,66
4,100001251,CC,1192923078,GOMEZ,NaN,CRISTIAN,JAVIER,16/01/1998,M,02/09/2023,...,ST,01/05/2024,30,77220.00,01/05/2024,15/02/1998,26,6,GRANDES CIUDADES,2